* {
    box-sizing: border-box;
  }
  
  textarea {
      font-size: 16px;
      background-color: #d0d5db;
  }
  
  body {
    font: 16px Arial;  
  }
  
  
  
  .serial {
      border: 2px solid black;
      font-size: 64px;
      text-align: center;
      padding: 60px 0;
      background-color: #3A3F44;
      width: 40%;
      height:200px;
  }
  
  .flash {
      border: 2px solid black;
      font-size: 36px;
      text-align: center;
      padding: 50px 0;
      background-color: #3A3F44;
      width: 100%;
      height: 150px;
      margin: 100px;
  }

  .result-table {
    border: 2px solid black;
    font-size: 36px;
    text-align: center;
    padding: 50px 0;
    background-color: #3A3F44;
    width: 100%;
    height: 150px;
}
  .top_buffer {
      margin-top:20px;
      }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #d0d5db;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #d0d5db;
    width: 300px;
  }
  
  input[type=text]#serial_number {
    background-color: #d0d5db;
    width: 200px;
    height: 46px;
    
  }
  
  .btn#serial-button{
    height: 46px;
    width: 100px;
    padding-top:10px;
  }
  
  .input-group#serial_number_group {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .input-group-append {
      margin-left: -1px;
      padding-bottom: 15px;
  }
  
  .serial_number_label{
    width: 300px;
    padding-top: 15px;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  #logo {
    height: 50px;
  }